.okr-list-container {
    padding: 10px;

    .objective-title {
        display: flex;
        .objective-name {
            flex-grow: 1;
        }
    }

    .kr-list {
        display: flex;
        flex-direction: column;
        width: 100%;

        .kr {
            padding: 10px;

            .kr-render {
                display: flex;
                flex-direction: row;
                .kr-status {
                    padding-right: 5px;

                    &:hover {
                        border: 1px solid #666666;
                    }
                }

                .kr-content-container {
                    flex-grow: 1;
                    display: flex;
                    flex-direction: row;
                    .kr-content {
                        flex-grow: 1;
                    }
                }
            }

            .kr-comment {
                padding-left: 15px;
                padding-top: 10px;
                font-style: italic;
                span {
                    padding-right: 5px;
                }
            }
        }
    }
}




