.detail-view-container {
    display: flex; 
    flex-direction: column;
    padding-left: 10px;
    min-width: 1040px;

    .detail-okr-header {
        padding-left: 10px;
        
        .bolt-header-title {
            font-weight: 600;
        }
    }

    .detail-view {
        display: flex; 
        flex-direction: column;
    }
}
