.okr-list-container {
    padding: 10px;

    .objective-title {
        display: flex;
        .objective-name {
            flex-grow: 1;
        }
    }

    .kr-list {
        display: flex;
        flex-direction: column;
        width: 100%;

        .kr {
            display: flex;
            flex-direction: row;
            padding: 10px;

            .kr-status {
                &:hover {
                    border: 1px solid #333333;
                }

                .status-icon {
                    padding-right: 5px;
                }
            }
        }
    }
}




