.okr-list-container {
    padding: 10px;
    align-items: baseline;

    .objective-title {
        display: flex;

        .objective-name {
            flex-grow: 1;
        }
        .objective-context-menu {
            margin: 6px 0 6px 20px;
        }
    }

    .kr-list {
        display: flex;
        flex-direction: column;
        width: 100%;

        .kr {
            padding: 10px;
            
            .kr-render {
                display: flex;
                flex-direction: row;
                align-items: center;

                .kr-score {
                    &:hover {
                        background-color: rgba(0, 0, 0, .108); 
                    }
                }

                .kr-status {
                    padding-right: 5px;
                }

                .kr-content-container {
                    flex-grow: 1;
                    display: flex;
                    flex-direction: row;
                    .kr-content {
                        flex-grow: 1;
                    }
                }
            }

            .kr-table {
                table-layout: fixed;
                width: 100%;
                white-space: nowrap;
    
                td {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .kr-status-column {
                    width: 125px;

                    .kr-status {
                        width: 110px;
                    }
                }

                .kr-score-column {
                    width: 50px;

                    .kr-score-select {
                        width: 45px;
                    }

                    .kr-score {
                        height: 22px;
                        cursor: pointer;
                    }
                }
            }

            .kr-comment {
                padding-left: 125px;
                padding-top: 10px;
                font-style: italic;
                span {
                    padding-right: 5px;
                }
                
                .kr-button-group{
                    display: flex;
                    justify-content: flex-end;
                }
            }
        }
    }
}




