# Dependency directories
node_modules/

# Typescript v1 declaration files
typings/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env

# Specific to this repo
*.vsix
*.docx
dist