.okrhub {
	min-width: 1140px;

	.area-grid {
		display: flex;
		flex-wrap: wrap; 
		width: 100%;

		padding: 10px; 
	}

	.okr-error-message{
		// This is used in both area view and objectives view
		.bolt-messagecard-content{
			padding:5px 12px 5px 12px; 
		}
	}

	.area-card {
		margin: 8px;
		width: 380px;
		height: 350px;
		cursor: pointer;		

		&:hover {
			background: #F8F8F8;
		}

		.area-card-interior {			
			display:flex;
			flex-direction: column;
			width: 100%;
			justify-content: space-between; 

			.area-card-details{
				display: flex;
				flex-direction: column;

				.card-header{
					display: flex; 
					justify-content: space-between; 
					margin-bottom: 0px;
					align-items: baseline;

					.title-header {
						max-width: 80%; 
					}

					.area-name-title {
						overflow: hidden;
						white-space: nowrap;
						text-overflow: ellipsis;
					}

					.area-name-title:hover{
						cursor: pointer;
					}

					.flex-column {
						flex: 1;
					}
				}

				.card-description{
					height: 60px;
					overflow: hidden;
					display: -webkit-box;
					-webkit-line-clamp: 3; 
					-webkit-box-orient: vertical; 
				}

				.bolt-expandable-button, .bolt-button {
					align-items: center; 
					flex-direction: column;
				}
			}
		}

		.area-progress {
			margin-bottom: 6px;

			.area-circle {
				margin-right: 10px;
			}
		}

		.area-identity {
			padding-top: 20px;
			border-top: 1px solid lightgray; 			
		}
	}
}