.okrhub {
	min-width: 1140px;

	.area-grid {
		display: flex;
		flex-wrap: wrap; 
		width: 100%;
	}

	.okr-error-message{
		// This is used in both area view and objectives view
		.bolt-messagecard-content{
			padding:5px 12px 5px 12px; 
		}
	}

	.area-card {
		margin: 8px;
		width: 380px;

		.area-details {
			display: flex;
			flex-direction: column;
			width: 100%;

			.area-card-details{
				display: flex;
				flex-direction: column;

				.card-header{
					display: flex; 
					justify-content: space-between; 
					margin-bottom: 8px;
					align-items: baseline;

					.flex-column {
						flex: 1;
					}
				}

				.area-name-title:hover{
					cursor: pointer;
				}

				.bolt-expandable-button, .bolt-button {
					align-items: center; 
					flex-direction: column;
				}
			}
		}

		.area-progress {
			margin-bottom: 6px;

			.area-circle {
				margin-right: 10px;
			}
		}

		.area-identity {
			margin-top: 20px;
		}
	}
}