
.time-frame-settings{
    width: 100%;
    
    .time-frame-settings-header {
        border-bottom: 1px solid lightgray;  
        display: flex;        
    }

    .time-frame-box {
        display: flex;
        height: 50px;     

        .time-frame-name {
            padding-left: 10px; 
            display: flex; 
        }
    }
}