
.time-frame-settings{
    width: 100%;
    
    .time-frame-settings-header {
        border-bottom: 1px solid lightgray;  
        display: flex;        

        .time-frame-settings-header-title{
            width: 62%; 
            
        }
    }

    .time-frame-box {
        display: flex;
        padding: 10px;
        height: 50px;     
        align-items: center; 
        justify-content: space-between; 

        .time-frame-left-content{
            display: flex; 
            justify-content: flex-start; 
            width: 100%; 

            .time-frame-name {
                padding-right: 10px; 
                width: 85%; 
            }
        }
        
        .edit-buttons {
            display:flex;              
        }
    }
}