.bolt-panel-callout-content {
    width: 600px;
    .panel-content {
       width: 100%;
       display: flex;
       flex-direction: column;

       .okr-form-fields {
           flex: 1;

           .kr-editor {
                display: flex;
                flex-direction: row;
                margin-top: 20px;

               .flex-column {
                   flex: 1;
               }
            }
 
            .okr-form-add-kr {
                margin-top: 10px;
            }
       }

       .okr-form-submit {
            margin-bottom: 12px;
            align-self: flex-end;
            .bolt-button {
                padding-right: 10px;
            }
       }
    }
}